.work{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	h1{
		font-size: 90px;
	}

	h2{
		font-size: 48px;
	}

	p{
		font-size: 30px;
	}
}